/* line 9, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.nopadding {
  padding: 0px;
}

/* line 10, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.nopadding-left {
  padding-left: 0px;
}

/* line 11, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.nopadding-right {
  padding-right: 0px;
}

/* line 12, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.add-bottom {
  margin-bottom: 30px;
}

/* line 13, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.remove-margin {
  margin-top: 10px !important;
}

/* line 14, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
h1, h2 {
  font-family: 'Open Sans', sans-serif;
}

/* line 15, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #7F8DA0;
}

/* line 26, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
body {
  background: #F2F6FF;
  overflow-x: hidden;
}

/* line 30, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
header {
  margin-top: 50px;
}

/* line 33, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
header .logo h1 {
  font-weight: 600;
  font-size: 40px;
}

/* line 34, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
header .navigator {
  margin-top: 35px;
  text-align: center;
}

/* line 37, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
header .navigator .navbar {
  min-height: auto !important;
  margin-bottom: 0px;
}

/* line 38, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
header .navigator ul {
  list-style: none;
}

/* line 40, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
header .navigator ul li {
  display: inline-block;
  padding: 0px 20px;
}

/* line 43, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
header .navigator ul li a {
  color: #7F8DA0;
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
}

/* line 51, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
header ul.signup {
  list-style: none;
  margin-top: 35px;
  text-align: right;
}

/* line 55, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
header ul.signup li {
  display: inline-block;
  padding-left: 20px;
}

/* line 58, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
header ul.signup li a {
  color: #23233C;
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  font-weight: 600;
}

/* line 64, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
header ul.signup li a:hover {
  text-decoration: none !important;
}

/* line 65, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
header ul.signup li a.active {
  color: #6CC57C;
}

/* line 70, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.slider-container {
  background-image: url(../images/diagonal.png);
  background-position: 296% 79%;
  background-repeat: no-repeat;
}

/* line 74, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.slider-container .slider-content {
  margin-top: 96px;
}

/* line 76, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.slider-container .slider-content p.tag-line {
  color: #7F8DA0;
}

/* line 77, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.slider-container .slider-content p.tag-line:before {
  margin-bottom: 27px;
  height: 9px;
  display: block;
  width: 60px;
  background: #23233C;
  content: '';
  border-radius: 5px 5px;
}

/* line 81, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.slider-container .slider-content h1 {
  font-weight: bold;
  margin: 16px 0px;
  color: #23233C;
  font-size: 55px;
}

/* line 81, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.slider-container .slider-content h1 span {
  color: #6CC57C;
}

/* line 82, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.slider-container .slider-content p {
  margin-top: 20px;
  font-weight: 600;
  font-size: 20px;
}

/* line 85, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.slider-container .download {
  margin-top: 32px;
}

/* line 87, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.slider-container .download button {
  background: #23233C;
  border: 1px solid #23233C;
  border-radius: 10px 10px;
  color: #ffffff;
  padding: 12px 57px;
  font-size: 19px;
  margin-right: 30px;
}

/* line 96, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.slider-container .download i {
  font-size: 42px;
  margin-right: 5px;
  margin-left: 34px;
}

/* line 97, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.slider-container .download i.fa-android {
  color: #6CC57C;
}

/* line 99, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.slider-container .social-media {
  margin-top: 73px;
}

/* line 101, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.slider-container .social-media a {
  color: #7F8DA0;
  margin-right: 30px;
}

/* line 102, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.slider-container .social-media a:hover {
  color: #6CC57C;
}

/* line 104, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.slider-container .insights {
  position: relative;
}

/* line 106, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.slider-container .insights .statics {
  position: absolute;
  left: auto;
  top: auto;
  right: -27%;
  bottom: 22%;
}

/* line 107, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.slider-container .insights .statics img {
  height: auto;
}

/* line 112, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.summary-section {
  border-top-style: dashed;
  border-top: 1px dashed #23233C;
  height: 1685px;
  margin-top: 0px;
  padding-top: 50px;
  background: url("../images/summarybg.png");
  background-repeat: no-repeat;
  background-position: -159% 42%;
}

/* line 121, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.summary-section .moon-circle {
  background: url("../images/moon-circle.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 100%;
  width: 100%;
  position: absolute;
  left: auto;
  right: -49%;
}

/* line 132, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.summary-section .featured-block {
  background: url("../images/window.png");
  background-repeat: no-repeat;
  height: 531px;
}

/* line 137, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.summary-section .featured-block .content h2 {
  color: #23233C;
  font-size: 25px;
  font-weight: bold;
  margin-top: 0px;
}

/* line 138, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.summary-section .featured-block .content h3 {
  font-weight: bold;
  font-size: 28px;
  line-height: 22px;
}

/* line 139, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.summary-section .featured-block .content span {
  font-size: 15px;
  font-weight: normal;
}

/* line 140, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.summary-section .featured-block .content .calorie {
  color: #EE6A6E;
}

/* line 141, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.summary-section .featured-block .content .grasas {
  color: #7F8DA0;
}

/* line 144, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.summary-section .featured-block a.findmore {
  float: right;
  position: absolute;
  top: auto;
  bottom: 60px;
  left: auto;
  right: 87px;
}

/* line 156, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.summary-section .salad-plate {
  margin-top: 20px;
  background-position: 10px 114px;
}

/* line 162, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.summary-section .chicken-plate {
  margin-top: 164px;
  background-position: 35px 130px;
}

/* line 166, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.summary-section .chicken-plate .content {
  padding-left: 32px;
}

/* line 167, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.summary-section .chicken-plate a.findmore {
  right: 62px;
  bottom: 45px;
}

/* line 171, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.summary-section .summary-content {
  margin-top: 190px;
}

/* line 173, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.summary-section .summary-content h1 {
  color: #23233C;
  font-weight: bold;
}

/* line 173, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.summary-section .summary-content h1 span {
  color: #6CC57C;
  font-weight: bold;
}

/* line 173, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.summary-section .summary-content h1:before {
  margin-bottom: 27px;
  height: 9px;
  display: block;
  width: 60px;
  background: #23233C;
  content: '';
  border-radius: 5px 5px;
}

/* line 176, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.summary-section .summary-content p {
  margin-top: 70px;
}

/* line 178, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.summary-section .order-section {
  min-height: 842px;
}

/* line 181, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.summary-section .plate-shadow {
  background: url("../images/orderplate.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 42%;
  bottom: 8%;
}

/* line 191, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.summary-section .title-shadow {
  background: url(../images/leftRectangle.png);
  background-repeat: no-repeat;
  background-position: left;
  height: 100%;
  width: 100%;
  position: absolute;
  top: auto;
  bottom: 16%;
  right: -40%;
}

/* line 203, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.summary-section .bookingorder {
  margin-top: 0px;
}

/* line 205, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
.summary-section .bookingorder img {
  float: right;
  display: block;
}

/* line 208, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
footer {
  width: 100%;
  padding: 30px 0px;
}

/* line 211, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
footer .quick-link h4 {
  color: #6CC57C;
  font-weight: bold;
}

/* line 212, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
footer .quick-link ul {
  list-style: none;
  margin-top: 20px;
  padding-left: 0px;
}

/* line 216, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
footer .quick-link ul li {
  line-height: 24px;
}

/* line 217, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
footer .quick-link ul li a {
  color: #7F8DA0;
  font-weight: normal;
}

/* line 222, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
footer .follow-us h1 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 40px;
}

/* line 223, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
footer .follow-us ul {
  list-style: none;
  padding-left: 0px;
}

/* line 226, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
footer .follow-us ul li {
  display: inline-block;
  margin-right: 31px;
}

/* line 228, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
footer .follow-us ul li a {
  color: #929FC7;
}

/* line 228, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
footer .follow-us ul li a i {
  font-size: 35px;
}

/* line 233, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
footer p.copyright {
  margin-top: 30px;
}

/*************************************************************/
/**************        RESPONSIVE STYLES            *********/
/***********************************************************/
/**************(min-width: 240px) and (max-width:320px)************************/
@media (min-width: 240px) and (max-width: 320px) {
  /* line 243, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .extrasmalladdpadding {
    padding-left: 15px;
    padding-right: 15px;
  }
  /* line 247, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .extrasmalladdpaddingleft {
    padding-left: 15px;
  }
  /* line 250, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .extrasmalladdpaddingright {
    padding-right: 15px;
  }
  /* line 253, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .extrasmallremovepadding {
    padding-left: 0px;
    padding-right: 0px;
  }
  /* line 257, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .extrasmallremovepaddingleft {
    padding-left: 0px;
  }
  /* line 260, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .extrasmallremovepaddingright {
    padding-right: 0px;
  }
  /* line 263, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 270, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .imgdiv img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 275, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  header {
    text-align: center;
  }
  /* line 277, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .navbar-header {
    position: absolute;
    left: auto;
    right: 10px;
    bottom: 0px;
    top: -86px;
  }
  /* line 278, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .navbar-toggle {
    border: transparent !important;
  }
  /* line 279, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  header .navigator ul li {
    display: block;
    padding: 0px 20px;
    text-align: right;
  }
  /* line 280, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .slider-container .slider-content {
    margin-top: 0px;
  }
  /* line 281, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .slider-container .social-media {
    margin-top: 41px;
    text-align: center;
  }
  /* line 282, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .slider-container .download {
    text-align: center;
  }
  /* line 282, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .slider-container .download button {
    margin-bottom: 30px;
    margin-right: 0px;
  }
  /* line 282, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .slider-container .download i {
    font-size: 35px;
    margin-right: 5px;
    margin-left: 6px;
  }
  /* line 283, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .statics {
    right: auto !important;
    top: auto !important;
    left: -46px !important;
    bottom: 16% !important;
  }
  /* line 283, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .statics img {
    width: 60%;
  }
  /* line 284, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .summary-section {
    background-position: 113% 47%;
    padding-top: 10px;
  }
  /* line 285, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .summary-section .featured-block {
    text-align: center;
  }
  /* line 285, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .summary-section .featured-block button.findmore {
    margin-right: 97px;
    margin-top: 11px;
  }
  /* line 286, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .summary-section .salad-plate {
    background-position: 73% 70%;
  }
  /* line 287, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .summary-section .chicken-plate {
    background-position: 73% 70%;
  }
  /* line 289, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  footer {
    margin-top: 30px;
  }
  /* line 290, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .follow-us ul {
    margin-top: 40px;
    text-align: center;
  }
  /* line 291, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  p.copyright {
    text-align: center;
  }
}

/****  End of 240 Media Query *****/
@media (min-width: 321px) and (max-width: 480px) {
  /* line 298, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .extrasmalladdpadding {
    padding-left: 15px;
    padding-right: 15px;
  }
  /* line 304, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .extrasmalladdpaddingleft {
    padding-left: 15px;
  }
  /* line 309, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .extrasmalladdpaddingright {
    padding-right: 15px;
  }
  /* line 314, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .extrasmallremovepadding {
    padding-left: 0px;
    padding-right: 0px;
  }
  /* line 320, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .extrasmallremovepaddingleft {
    padding-left: 0px;
  }
  /* line 325, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .extrasmallremovepaddingright {
    padding-right: 0px;
  }
  /* line 330, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 337, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .imgdiv img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 342, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  header {
    text-align: center;
  }
  /* line 343, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .navbar-header {
    position: absolute;
    left: auto;
    right: 10px;
    bottom: 0px;
    top: -86px;
  }
  /* line 344, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .navbar-toggle {
    border: transparent !important;
  }
  /* line 345, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  header .navigator ul li {
    display: block;
    padding: 0px 20px;
    text-align: right;
  }
  /* line 346, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .slider-container .slider-content {
    margin-top: 0px;
  }
  /* line 347, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .slider-container .social-media {
    margin-top: 41px;
    text-align: center;
  }
  /* line 348, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .slider-container .download {
    text-align: center;
  }
  /* line 348, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .slider-container .download button {
    margin-bottom: 30px;
    margin-right: 0px;
  }
  /* line 348, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .slider-container .download i {
    font-size: 35px;
    margin-right: 5px;
    margin-left: 6px;
  }
  /* line 349, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .statics {
    right: auto !important;
    top: auto !important;
    left: -64px !important;
    bottom: 16% !important;
  }
  /* line 349, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .statics img {
    width: 60%;
  }
  /* line 350, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .summary-section {
    background-position: 113% 47%;
    padding-top: 10px;
  }
  /* line 352, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .summary-section .featured-block {
    text-align: center;
  }
  /* line 353, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .summary-section .salad-plate {
    background-position: 112% 91%;
  }
  /* line 353, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .summary-section .salad-plate a.findmore {
    bottom: 71px;
    left: auto;
    right: 54px;
  }
  /* line 354, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .summary-section .chicken-plate {
    background-position: 115% 122%;
    margin-top: 2px;
  }
  /* line 357, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .summary-section .chicken-plate img.featured {
    margin-right: 68px;
  }
  /* line 358, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .summary-section .chicken-plate .content {
    padding-left: 0;
  }
  /* line 359, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .summary-section .chicken-plate a.findmore {
    bottom: 38px;
    left: auto;
    right: 48px;
  }
  /* line 361, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .summary-section .summary-content h1 {
    font-size: 41px;
    line-height: 57px;
  }
  /* line 364, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .summary-section .featured-block .content h3 {
    font-weight: bold;
    font-size: 23px;
    line-height: 7px;
  }
  /* line 365, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  footer {
    margin-top: 30px;
  }
  /* line 366, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .follow-us ul {
    margin-top: 40px;
    text-align: center;
  }
  /* line 367, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  p.copyright {
    text-align: center;
  }
}

/****  End of 480 Media Query *****/
@media (min-width: 481px) and (max-width: 750px) {
  /* line 372, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .extrasmalladdpadding {
    padding-left: 15px;
    padding-right: 15px;
  }
  /* line 378, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .extrasmalladdpaddingleft {
    padding-left: 15px;
  }
  /* line 383, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .extrasmalladdpaddingright {
    padding-right: 15px;
  }
  /* line 388, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .extrasmallremovepadding {
    padding-left: 0px;
    padding-right: 0px;
  }
  /* line 394, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .extrasmallremovepaddingleft {
    padding-left: 0px;
  }
  /* line 399, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .extrasmallremovepaddingright {
    padding-right: 0px;
  }
  /* line 404, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 409, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  header {
    text-align: center;
  }
  /* line 410, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .navbar-header {
    position: absolute;
    left: auto;
    right: 10px;
    bottom: 0px;
    top: -86px;
  }
  /* line 411, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .navbar-toggle {
    border: transparent !important;
  }
  /* line 412, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  header .navigator ul li {
    display: block;
    padding: 0px 20px;
    text-align: right;
  }
  /* line 413, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .slider-container .slider-content {
    margin-top: 0px;
  }
  /* line 414, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .slider-container .social-media {
    margin-top: 41px;
    text-align: center;
  }
  /* line 415, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .slider-container .download {
    text-align: center;
  }
  /* line 415, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .slider-container .download button {
    margin-bottom: 30px;
    margin-right: 0px;
  }
  /* line 415, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .slider-container .download i {
    font-size: 35px;
    margin-right: 5px;
    margin-left: 6px;
  }
  /* line 416, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .statics {
    right: auto !important;
    top: auto !important;
    left: -29px !important;
    bottom: 16% !important;
  }
  /* line 416, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .statics img {
    width: 87%;
  }
  /* line 417, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .summary-section {
    background-position: 129% 70%;
    padding-top: 10px;
  }
  /* line 418, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .summary-section .featured-block {
    text-align: center;
  }
  /* line 419, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .summary-section .salad-plate {
    background-position: 91% 99%;
  }
  /* line 419, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .summary-section .salad-plate img {
    margin-right: 23%;
  }
  /* line 420, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .summary-section .chicken-plate {
    background-position: 91% 113%;
    margin-top: 104px;
  }
  /* line 421, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .summary-section .chicken-plate a.findmore {
    right: 82px;
    bottom: 39px;
  }
  /* line 425, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .summary-section .featured-block .content h3 {
    font-weight: bold;
    font-size: 23px;
    line-height: 7px;
  }
  /* line 426, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  footer {
    margin-top: 30px;
  }
  /* line 427, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .follow-us ul {
    margin-top: 40px;
    text-align: center;
  }
  /* line 428, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  p.copyright {
    text-align: center;
  }
}

/****  End of 750 Media Query *****/
@media (min-width: 751px) and (max-width: 979px) {
  /* line 434, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .extrasmalladdpadding {
    padding-left: 15px;
    padding-right: 15px;
  }
  /* line 440, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .extrasmalladdpaddingleft {
    padding-left: 15px;
  }
  /* line 445, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .extrasmalladdpaddingright {
    padding-right: 15px;
  }
  /* line 450, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .extrasmallremovepadding {
    padding-left: 0px;
    padding-right: 0px;
  }
  /* line 456, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .extrasmallremovepaddingleft {
    padding-left: 0px;
  }
  /* line 460, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .extrasmallremovepaddingright {
    padding-right: 0px;
  }
  /* line 464, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 469, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  header {
    text-align: center;
  }
  /* line 470, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .navbar-header {
    position: absolute;
    left: auto;
    right: 10px;
    bottom: 0px;
    top: -86px;
  }
  /* line 471, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .navbar-toggle {
    border: transparent !important;
  }
  /* line 472, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  header .navigator ul li {
    display: block;
    padding: 0px 20px;
    text-align: right;
  }
  /* line 473, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .slider-container .slider-content {
    margin-top: 10px;
  }
  /* line 474, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .slider-container .social-media {
    margin-top: 41px;
    text-align: center;
  }
  /* line 475, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .slider-container .download {
    text-align: center;
  }
  /* line 475, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .slider-container .download button {
    margin-bottom: 30px;
    margin-right: 0px;
  }
  /* line 475, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .slider-container .download i {
    font-size: 35px;
    margin-right: 5px;
    margin-left: 6px;
  }
  /* line 476, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .summary-section {
    background-position: 113% 47%;
    padding-top: 10px;
  }
  /* line 477, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .summary-section .featured-block {
    text-align: center;
  }
  /* line 477, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .summary-section .featured-block button.findmore {
    width: 60px;
    height: 60px;
    margin-right: 117px;
    margin-top: 11px;
  }
  /* line 479, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .summary-section .salad-plate {
    background-position: 73% 70%;
  }
  /* line 479, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .summary-section .salad-plate button {
    margin-right: 97px;
    margin-top: 11px;
  }
  /* line 480, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .summary-section .chicken-plate {
    background-position: 111% 90%;
    margin-top: 2px;
  }
  /* line 480, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .summary-section .chicken-plate button {
    margin-right: 118px;
    margin-top: 11px;
  }
  /* line 482, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .summary-section {
    background-position: -7px -254px;
  }
  /* line 483, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .summary-section .featured-block .content h3 {
    font-weight: bold;
    font-size: 23px;
    line-height: 7px;
  }
  /* line 484, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  footer {
    margin-top: 30px;
  }
  /* line 485, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .follow-us ul {
    margin-top: 40px;
    text-align: center;
  }
  /* line 486, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  p.copyright {
    text-align: center;
  }
}

/****  End of 979 Media Query *****/
@media (max-width: 991px) {
  /* line 491, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .navbar-header {
    float: none;
  }
  /* line 494, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .navbar-toggle {
    display: block;
    color: #ffffff;
    border: 1px solid #ffffff;
    margin-top: 0;
    padding-top: 0;
  }
  /* line 501, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  /* line 505, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .navbar-collapse.collapse {
    display: none !important;
  }
  /* line 508, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }
  /* line 512, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .navbar-nav > li {
    float: none;
  }
  /* line 515, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* line 519, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  /* since 3.1.0 */
  /* line 524, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  /* line 527, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .collapsing {
    overflow: hidden !important;
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  /* line 538, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .project-data .container-fluid {
    width: 1200px;
    margin: 0 auto;
  }
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  /* line 550, ../../../../xampp/htdocs/daitto/styles/sass/mainstyles.scss */
  .project-data .row {
    width: 1200px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=mainstyles.css.map */